<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/gallery.css">
  </head>
  <body>
    <!-- seperate tabs for each body part, clothing piece, etc. -->
     <div class="gallery-tabs">
        <div class="gallery-tab">
          <h2>Hair</h2>
          <!-- Content for this tab -->
           <!-- dynamic cards for each item in this category from the database-->
            <div class="gallery-cards">
              <!-- Cards will be dynamically inserted here -->
               <div class="gallery-card"></div>
            </div>
        </div>
        <div class="gallery-tab">
          <h2>Face</h2>
          <!-- Content for this tab -->
           <div class="gallery-cards">
              <!-- Cards will be dynamically inserted here -->
               <div class="gallery-card"></div>
            </div>
        </div>
        <div class="gallery-tab">
          <h2>Torso</h2>
          <!-- Content for this tab -->
           <div class="gallery-cards">
              <!-- Cards will be dynamically inserted here -->
               <div class="gallery-card"></div>
            </div>
        </div>
        <div class="gallery-tab">
          <h2>Legs</h2>
          <!-- Content for this tab -->
           <div class="gallery-cards">
              <!-- Cards will be dynamically inserted here -->
               <div class="gallery-card"></div>
            </div>
        </div>
        <div class="gallery-tab">
          <h2>Shirt</h2>
          <!-- Content for this tab -->
           <div class="gallery-cards">
              <!-- Cards will be dynamically inserted here -->
               <div class="gallery-card"></div>
            </div>
        </div>
        <div class="gallery-tab">
          <h2>Accessories</h2>
          <!-- Content for this tab -->
           <div class="gallery-cards">
              <!-- Cards will be dynamically inserted here -->
               <div class="gallery-card"></div>
            </div>
        </div>
     </div>
  </body>
</html>